@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.containerNav {
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    background-color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#btn {
    display: flex;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 0px 0px black;
    text-align: center;
    width: 150px;
    height: 38px;
    color: #0f0000;
    border-color: #0fe7f7;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

#btn:hover {
    box-shadow: 0 0 10px 0 #07f2fa inset, 0 0 10px 4px #07f2fa;
    background-color: #e6fcfd;
}

.btns {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 0px 0px black;
    text-align: center;
    width: 150px;
    height: 38px;
    border-color: #0fe7f7;
    color: #0f0000;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

}

.btns:hover {
    box-shadow: 0 0 10px 0 #07f2fa inset, 0 0 10px 4px #07f2fa;
    background-color: #e6fcfd;
}

#btn2 {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 0px 0px black;
    text-align: end;
    width: 150px;
    height: 38px;
    color: #0f0000;
    border-color: #0fe7f7;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    outline: none;
    border-radius: 5px 5px 5px 5px;  
    cursor: pointer;
}

#btn2:hover {
    box-shadow: 0 0 10px 0 #07f2fa inset, 0 0 10px 4px #07f2fa;
    background-color: #e6fcfd;
}
