#background {
    background-color: black;
}

#cards {
    justify-content: space-around;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    justify-items: center;
}