.container{
    justify-content: space-around;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    margin: 1rem;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: 2rem;
    justify-items: center;
}