#background {
    background-color: black;
}

#cards {
    justify-content: space-around;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 1024px) {
    #cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    #cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }